/*
 = ======== flexbox ========
*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card--weather {
  flex: 0 0 700px;

}
.card--egain {
  flex: 0 0 300px;
}

/*
= ====== visuals =========
*/
* {
 box-sizing: border-box;
}
body {
 margin: 0
}
.cards {
 min-height: 100vh;
}
.card {
 margin: 12px; 
 margin-top: 50px;
 background: #f2f2f2;
 border-radius: 7px;
 padding: 0 0 50px 0;
 border: 0;
}

/*
= ====== card inner components =========
*/
.card > header {
 background: #b1d9ff;
 height: 50px;
 border-radius:  7px 7px 0 0;
}
.card > ul {
 list-style: none;
 padding: 0;
}
.card > ul li {
 height: 20px;
 width: 90%;
 margin: 10px auto;
 background: rgba(255,255,255, 0.4);
}
.card button {
 width: 120px;
 height: 35px;
 border: 0;
 margin-left: 12px;
 border-radius: 7px;
}
/*
 = ======== end ========
*/


/*
 = ======== end ========
*/














@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
