/*
 = ======== flexbox ========
*/

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* font-family: sans-serif; */
}

.card--weather {
  flex: 0 0 1100px;

}
.card--egain {
  flex: 0 0 300px;
}
.card--history {
  flex: 0 0 1100px;
}


/*
= ====== visuals =========
*/
* {
 box-sizing: border-box;
}
body {
 margin: 0
}
.card--weather{
  /* min-height: 40vh; */
  height: 545px;
  width: 0vh;
}

.card--egain{
  /* min-height: 70vh; */
  height: 545px;
  text-align: center;
}

.card--history{
  /* min-height: 70vh; */
  height: 575px;
  text-align: center;
}


.card.card--weather > ul li {
  height: 20px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

 /* ======= day card ========= */

.card.card--day{
  height: 205px;
  width: 160px;
  background: #d4eafd;
  margin: 10px auto;
}
.card.card--day > header {
  background: #9dd0ff;
  height: 1000px;
  border-radius:  7px 7px 0 0;
 }

.card.card--day > header > h4 {
  margin-top: 7px;
 }
.card.card--day > ul li {
  height: 20px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
 }

#li1 {
  color: #7c7c7c;
}
#li2 {
  font-size:30px;
}
/* ================ */


#location {
  color: #7c7c7c;
}
#temp {
  font-size: 50px;
  margin-bottom: 50px;
}
sup {
  font-size: 30px;
}
#feels {
  color: #7c7c7c;
}
#line {
  background: #d9e4ee;
  border-radius:  7px 7px 7px 7px;
  height: 10px;
}
#daily {
  text-align: left;
  font-size: 30px;
  margin-left: 110px;
}
#change-location-input {
  margin-left: 10px;
  width: 130px;
}
#zip-button {
  margin-left: 10px;
  margin-top: 5px;
  width: 130px;
}

.card {
 margin: 12px; 
 margin-top: 50px;
 background: #e9f5ff;

 border-radius: 7px;
 padding: 0 0 50px 0;
 border: 0;
}

/*
= ====== card inner components =========
*/
.card > header {
 background: #9dd0ff;
 height: 50px;
 border-radius:  7px 7px 0 0;
}
.card > ul {
 list-style: none;
 padding: 0;
}
.card > ul li {
 height: 20px;
 width: 90%;
 margin: 10px auto;
}
.card button {
 width: 120px;
 height: 35px;
 border: 0;
 margin-left: 12px;
 border-radius: 7px;
}
/*
 = ======== end ========
*/


/*
 = ======== end ========
*/














@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
